<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/index.js" charset="utf-8"></script>
    <title>Glance</title>
  </head>
  <body>

    <div class="container">

      <header>
        <div class="logoImg d-inline">
            <img src="images/logo2.png" alt="Glance" />
        </div>

        <div class="login d-inline">
          <form action="#" th:action="@{/login}" th:object="${user}" method="post">
          <input type="email" name="username" id="username" placeholder="Email Address" th:field="*{email}">
          <input type="password" name="password" id="password" placeholder="Password" th:field="*{password}">
          <button class="btn btn-primary" id="login">Log In</button>
        </form>
        </div>
      </header>

      <main>
        <div class="jumbotron jumbotron-fluid">
          <div class="jumbotron-text">
            <h1>Glance</h1>
            <p>Finance at your fingertips!</p>
          </div>
        </div>

        <section id="main-page-content">
          <h2 class="center">Marketing Team Slogan!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </section>
      </main>

      <footer>
        &copy; 2021
      </footer>

    </div>

    <script src="js/bootstrap.bundle.min.js" charset="utf-8"></script>
  </body>
</html>
