<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Glance</title>
  </head>
  <body>

    <div class="container">

      <header>
        <div class="logoImg d-inline">
            <img src="images/logo2.png" alt="Glance" />
        </div>

        <div class="login d-inline">
          <form action="/login" th:action="@{/login}" th:object="${user}" method="post">
          <input type="email" name="email" id="username" placeholder="Email Address" th:field="*{email}">
          <input type="password" name="password" id="password" placeholder="Password" th:field="*{password}">
          <input type="submit" name="submit" value="Log In" class="btn btn-primary">
        </form>
        </div>
      </header>

      <main>
        <div class="jumbotron jumbotron-fluid">
          <div class="jumbotron-text">
            <h1>Glance</h1>
            <p>Finance at your fingertips!</p>
            <div class="center">
            <a href="signup.html" class="btn btn-secondary">
              Sign Up Today!
            </a>
          </div>
          </div>
        </div>

        <section id="main-page-content">
          <h2 class="center">See your finances at a glance!</h2>
          <p>Glance enables you to link to your bank accounts and see relevant data all at a glance. So go ahead and delete that old spreadsheet. Now, you can see all of your account data all in one place. Just take a glance!</p>

        </section>
      </main>

      <footer>
        &copy; 2021
      </footer>

    </div>

    <script src="js/bootstrap.bundle.min.js" charset="utf-8"></script>
  </body>
</html>
