<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Glance - User Sign Up</title>
  </head>
  <body>

    <div class="container">

      <header>
        <div class="logoImg d-inline">
            <img src="images/logo2.png" alt="Glance" />
        </div>

        <nav class="navbar navbar-expand-md">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
          </ul>
        </nav>

      </header>

      <main>

        <section id="main-page-content">
          <h3 class="center">New User Signup!</h3>

          <form class="" action="#" th:action="@{/register}" th:object="${user}" method="post">

            <div class="form-group">
                <fieldset>
                  <legend>Personal Information</legend>
                  <label for="firstname">First Name:</label>
                  <input type="text" name="firstname" class="form-control" th:field="*{firstName}">

                  <label for="lastname">Last Name:</label>
                  <input type="text" name="lastname" class="form-control" th:field="*{lastName}">

                  <label for="email">E-mail Address:</label>
                  <input type="email" name="email" class="form-control" th:field="*{email}">

                  <label for="password">Password:</label>
                  <input type="password" name="password" class="form-control" th:field="*{password}">
                  </fieldset>
            </div>

            <div class="form-group">
              <fieldset>
                <legend>Contact Information</legend>

              <label for="phone">Telephone Number: </label>
              <input type="tel" name="phonenumber" class="form-control" th:field="*{cellphone}">
              <label for="address1">Street Address:</label>
              <input type="text" name="address1" class="form-control" th:field="*{mainAddress}">
              </fieldset>
            </div>


            <div class="form-group" id="buttons">
              <input type="submit" name="submit" value="Submit" class="btn btn-primary">
              <input type="reset" name="reset" value="Reset" class="btn btn-warning">
            </div>

          </form>

        </section>
      </main>

      <footer>
        &copy; 2021
      </footer>

    </div>

    <script src="js/bootstrap.bundle.min.js" charset="utf-8"></script>
  </body>
</html>
